@charset "utf-8";
body{
  margin: 0;
  font-family:spotify-circular, Helvetica, Arial, sans-serif;
  color: #fff;
 
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #1ed760;
}
nav{
  height: 80px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_item{
  padding: 28px 17px;
  font-weight: 700;
}

main{
  height: 969px;
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%;
  background-position: 46% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  height: 530px;
  background-color: #000;
}

.headline{
  font-size: 156px;
  font-weight: 900;
  color: #1ed760;
  position: relative; left: 250px;
  padding-bottom: 40px;
}
.first_headline{
  position: relative;
  left: -2.5em;
}
.sub_headline{
  color: #1ed760;
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;

}
.button_area{
  text-align: center;
  
}
.button_style{
  padding: 14px 32px;
  border-radius: 500px;
  background-color: #1ed760;
  font-size: inherit;
  color: #2941ab;
  font-weight: 700;
  border: none;
}
.button_style:hover{
  transform: scale(1.1);
  background-color: #2de26d;
}
footer{
  height: 530px;
  background-color: black;
  display: flex;
  justify-content: center;
}
.container{
  max-width: 1170px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}
.footer_menu{
  display: flex;
  justify-content: space-between;
  height: 346px;
}
.first_box{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.second_box{
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.footer_menu_item{
  padding-bottom: 15px;
  padding-top: 3px;
  font-size: 16px;
}
.column{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.sub_title{
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
}
.icon_box{
  width: 54px;
  height: 54px;
  background-color: #222322;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  font-size: 24px;
}
.icon:hover{
  color: #2de26d;
}
.first_line{
  color: #919496;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}
.second_line{
  color: #919496;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.second_line_item{
  margin-right: 24px;
  color: #919496;
}